.border {
    border-radius: 50px;
}

.border1 {
    border-radius: 50px 50px 0 0;
}

.animation {
    height: 120px;
    width: 120px;
    border-radius: 100%;
    position: relative;
    background-color: aqua;


}
.animation1{ 
    margin-left: 10px;
    margin-top: 47px;
    position: absolute;
    border-radius: 10px ;
    height: 20px;
    width: 100px;
    background-color: blueviolet;
    animation-name: fan;
    animation-duration: 0.9s;
    animation-iteration-count: infinite;
}

@keyframes fan {
    0% {
        transform: rotate(0deg);
    }
    10%{
        transform: rotate(36deg);

    }
    20% {
        transform: rotate(72deg);
    }

    30% {
        transform: rotate(108deg);
    }
    40%{
        transform: rotate(144deg);

    }

    50% {
        transform: rotate(180deg);
    }
    60%{
        transform: rotate(216deg);

    }
    70% {
        transform: rotate(252deg);
    }
    80% {
        transform: rotate(288deg);
    }
    90% {
        transform: rotate(324deg);
    }
    100% {
        transform: rotate(360deg);
    }
}